$transition-fast: all  500ms ease !default;
$transition-slow: all 1000ms ease !default;

$start-logo:   2000ms;
$start-title:  2500ms;
$start-desc:   3000ms;
$start-menu:   3500ms;
$start-scroll: 3500ms;
$start-wiggle: 4000ms;

$fast:   500ms;
$slow:  1000ms;
$vslow: 1500ms;


a {
    -webkit-transition: $transition-fast;
    transition: $transition-fast;
}

h2 {
    -webkit-transition: $transition-slow;
    transition: $transition-slow;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@keyframes moveup {
    from {
        top: 3rem;
    }

    to {
        top: 0;
    }
}

@keyframes moveleft {
    from {
        left: 6rem;
    }

    to {
        left: 0rem;
    }
}

@keyframes wiggle {
    0% {
        bottom: 0rem;
    }

    25% {
        bottom: -0.2rem;
    }

    50% {
        bottom: 0rem;
    }

    75% {
        bottom: -0.2rem;
    }

    100% {
        bottom: 0rem;
    }
}


#welcome.home {
    #site-logo {
        position: relative;
        top: 3rem;
        animation: moveup $vslow forwards $start-logo;

        @media screen and (min-width: $medium) {
            top: 0;
            left: 6rem;
            animation: moveleft $vslow forwards $start-logo;
        }
    }

    #site-title,
    #site-description,
    #scroll-down {
        position: relative;
        opacity: 0;
    }

    #site-title {
        animation: fadein $slow forwards $start-title, moveup $slow forwards $start-title;

        @media screen and (min-width: $medium) {
            animation: fadein $slow forwards $start-title, moveleft $slow forwards $start-title;
        }
    }

    #site-description {
        animation: fadein $slow forwards $start-desc, moveup $slow forwards $start-desc;

        @media screen and (min-width: $medium) {
            animation: fadein $slow forwards $start-desc, moveleft $slow forwards $start-desc;
        }
    }
}


#scroll-down {
    animation: fadein $fast forwards $start-scroll, wiggle $fast forwards $start-wiggle;
}


#main-nav.nav-home {
    @media screen and (min-width: $medium) {
        opacity: 0;
        animation: fadein $fast forwards $start-menu;
    }
}