$start-instant:   0000ms;
$start-logo:      2000ms;
$start-title:     2250ms;
$start-desc:      2500ms;
$start-menu:      3000ms;
$start-scroll:    3250ms;
$start-wiggle:    3750ms;

$speed-fast:      0250ms;
$speed-slow:      0500ms;
$speed-very-slow: 1000ms;


a {
    transition: background-position $speed-slow ease;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@keyframes moveup {
    from {
        top: 3rem;
    }

    to {
        top: 0;
    }
}

@keyframes moveleft {
    from {
        left: 6rem;
    }

    to {
        left: 0rem;
    }
}

@keyframes wiggle {
    0% {
        bottom: 0rem;
    }

    25% {
        bottom: -0.2rem;
    }

    50% {
        bottom: 0rem;
    }

    75% {
        bottom: -0.2rem;
    }

    100% {
        bottom: 0rem;
    }
}


#main-header.home {
    #site-logo {
        position: relative;
        top: 3rem;
        animation: moveup $speed-very-slow forwards $start-logo;

        @media screen and (min-width: $medium) {
            top: 0;
            left: 6rem;
            animation: moveleft $speed-very-slow forwards $start-logo;
        }
    }

    #site-title,
    #site-description {
        position: relative;
        opacity: 0;
    }

    #site-title {
        animation: fadein $speed-slow forwards $start-title, moveup $speed-slow forwards $start-title;

        @media screen and (min-width: $medium) {
            animation: fadein $speed-slow forwards $start-title, moveleft $speed-slow forwards $start-title;
        }
    }

    #site-description {
        animation: fadein $speed-slow forwards $start-desc, moveup $speed-slow forwards $start-desc;

        @media screen and (min-width: $medium) {
            animation: fadein $speed-slow forwards $start-desc, moveleft $speed-slow forwards $start-desc;
        }
    }
}


#scroll-down {
    opacity: 0;
    position: relative;
    animation: fadein $speed-fast forwards $start-scroll, wiggle $speed-slow forwards $start-wiggle;
}


#main-nav.nav-home {
    @media screen and (min-width: $medium) {
        opacity: 0;
        animation: fadein $speed-fast forwards $start-menu;

        &.sticking {
            opacity: 1;
            animation: fadein $speed-fast forwards $start-instant;
        }

    }
}