$small:  400px  !default;
$medium: 600px  !default;
$large:  1024px !default;
$xlarge: 1280px !default;

html {
    scroll-behavior: smooth;
}

:is(h1, h2, h3, h4, h5) {
    margin-bottom: 0.5em;
}

:is(h1, h2, h3, h4, h5):not(:first-child) {
    margin-top: 0.75em;
}

p {
    text-align: justify;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

