$text-dark:    #111;
$text-invert:  #fff;
$text-dull:    #999;

$accent1:      #ec407a;
$accent2:      #2196f3;

$accent1-tint: #ec407a80;
$accent2-tint: #2196f380;

$back-light:   #eceff1;
$back-medium:  #455a64;
$back-dark:    #263238;
$back-darker:  #0a0a0a;
$back-darkest: #050505;

$back-body:    #000;
$back-shade:   #00000080;
$back-panel:   #000000c0;

$shadow-small: 0 0.10rem 0.2rem $back-shade;
$shadow-large: 0 0.25rem 0.5rem $back-shade;


body {
    color: $text-invert;
    background: $back-body;
}

main {
    background: $back-darker;
    // color: $text-dark;
}

a {
    color: inherit;
    text-decoration-color: $accent2;

    &:hover,
    &:active {
        color: $accent2;
        text-decoration: underline;
    }
}

h3, h4, h5, h6 {
    color: $accent1;
}

h2 {
    color: $accent2;

    // background-color: $accent2;
    // background-image: linear-gradient(45deg, $accent2, $accent1, $accent2);
    // background-position: 0;
    // background-size: 200%;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;
}

section:hover {
    h2 {
        background-position: 100%;
    }
}

blockquote {
    border-left-color: $accent1;
}

em {
    font-style: normal;
    color: $accent2;
}


#main-nav {
    background-color: $back-panel;

    ul {
        background: $back-darker;

        @media screen and (min-width: $medium) {
            background: none;
        }

        label::before {
            background-color: $back-shade;
        }
    }

    a {
        text-decoration: none;
        border-bottom: 5px solid transparent;

        &:hover {
            border-color: $accent1;
            color: $text-invert;
        }
    }

    @media screen and (min-width: $medium) {
        background: $back-body;
    }
}


#about {
    background: $back-darker;
    // color: $text-dark;
}

#teaching {
    background: $back-darkest;
    // color: $text-invert;
}

#coding {
    background: $back-darker;
    // color: $text-dark;
}

#mtb {
    background: $back-darkest;
    // color: $text-invert;
}

#main-footer {
    color: $text-dull;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
