$text-dark:   #111;
$text-invert: #fff;
$text-dull:   #999;

$accent1:     #ec407a;
$accent2:     #42a5f5;

$accent1-tint: #ec407a80;
$accent2-tint: #42a5f580;

$back-light:  #eceff1;
$back-medium: #455a64;
$back-dark:   #263238;
$back-darker: #141a1d;

$back-body:   #000;
$back-panel:  #141a1dc0;


body {
    color: $text-invert;
    background: $back-body;
}

main {
    background: $back-light;
    color: $text-dark;
}

a {
    color: inherit;
    text-decoration-color: $accent2;

    &:hover,
    &:active {
        color: $accent2;
        text-decoration: underline;
    }
}

blockquote {
    border-left-color: $accent1;
}

em {
    font-style: normal;
    color: $accent2;
}

#main-nav {
    background-color: $back-panel;

    ul {
        background: $back-darker;

        @media screen and (min-width: $medium) {
            background: none;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            // text-decoration: underline;
            background-color: $accent1;
            color: $text-invert;
        }
    }

    @media screen and (min-width: $medium) {
        background: $back-body;
    }
}


#about {
    background: $back-light;
    color: $text-dark;
}

#teaching {
    background: $back-dark;
    color: $text-invert;
}

#coding {
    background: $back-light;
    color: $text-dark;
}

#mtb {
    background: $back-dark;
    color: $text-invert;
}

#main-footer {
    color: $text-dull;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
