$text-dark:    #111;
$text-invert:  #fff;
$text-dull:    #999;

$accent1:      #ec407a;
$accent2:      #2196f3;

$accent1-tint: #ec407a80;
$accent2-tint: #2196f380;

$back-light:   #eceff1;
$back-medium:  #455a64;
$back-dark:    #263238;
$back-darker:  #13191c;

$back-body:    #000;
$back-shade:   #00000080;
$back-panel:   #000000c0;

$shadow-small: 0 0.10rem 0.2rem $back-shade;
$shadow-large: 0 0.25rem 0.5rem $back-shade;


body {
    color: $text-invert;
    background: $back-body;
}

main {
    background: $back-dark;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: $accent2;

    background-color: none;
    background-image: none;
    background-position: 100%;

    &:hover,
    &:active,
    &:focus,
    &.active {
        // color: $accent2;
        text-decoration: underline;
        text-decoration-color: $accent2;

        background-color: $accent2;
        background-image: linear-gradient(to left, 
                                          $text-invert 0%, 
                                          $text-invert 34%, 
                                          $accent1     44%, 
                                          $accent1     56%, 
                                          $accent2     66%, 
                                          $accent2     100%);
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        background-position: 0;
    }
}


h1 {
    color: $text-invert;
}

h3, h5, h6 {
    color: $accent1;
}

h2, h4 {
    color: $accent2;
}

blockquote {
    border-left-color: $accent1;
}

em {
    font-style: normal;
    color: $accent2;
}

article ul li::marker {
    color: $accent2;
}

main img {
    border-color: $accent2;
}

#main-nav {
    background-color: $back-panel;

    @media screen and (min-width: $medium) {
        background: $back-body;
        box-shadow: $shadow-large;

        &.sticking {
            // border-bottom: 3px solid $accent2;
        }   
    }

    ul {
        background: $back-dark;

        @media screen and (min-width: $large) {
            background: none;
        }

        label::before {
            background-color: $back-shade;
        }
    }

    a {
        text-decoration: none;
        border-bottom: 4px solid transparent;

        &:hover,
        &:active,
        &:focus,
        &.active {
            border-color: $accent1;
            color: $text-invert;
        }
    }
}

main > article,
#main-footer {
    border-top: 4px solid;
    border-image-slice: 1;
    border-top-width: 4px;
    border-image-source: linear-gradient(to right, $accent2, $accent1, $accent2);
}

main > article {
    background: $back-dark;

    &:nth-of-type( even ) {
        background: $back-darker;
    }
}

#main-footer {
    color: $text-dull;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $accent2;
        }
    }
}
