#welcome {
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-top: 10vh;
    
    @media screen and (min-width: $medium) {
        height: calc(85vh - 2rem);
        padding-top: 5vh;
    }
}

#site-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    @media screen and (min-width: $medium) {
        flex-direction: row;
        gap: 0;
    }
}


#site-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media screen and (min-width: $medium) {
        align-items: flex-end;
        text-align: right;
        position: relative;
        left: -4rem;
        top: 5vh;
    }
}


#site-logo,
#site-title,
#site-description {
    z-index: 99;
    margin: 0;
    display: block;
}

#site-title {
    font-size: 2em;
    text-align: center;

    @media screen and (min-width: $medium) {
        font-size: 2.5em;
    }
}

#site-logo {
    width: 75%;
    max-width: 25rem;
    height: auto;

    @media screen and (min-width: $medium) {
        max-height: 60vh;
        // width: auto;
    }
}

#more {
    height: 15vh;
    padding: 1rem;

    display: flex;
    align-items: flex-end;

    img {
        display: block;
        width: 2rem;
        height: auto;
        margin: 0 auto;
        z-index: 99;
    }
}


#mission {
    text-align: center;
    width: 100%;
    padding: 4rem 1rem;

    h2 {
        font-size: 3em;
        line-height: 1;
        text-transform: uppercase;
        font-weight: $heavy-font-weight;

        @media screen and (min-width: $medium) {
            font-size: 4em;
        }

    }
}


.gallery {
    display: flex;
    flex-wrap: wrap;

    .image {
        width: 50%;

        &.wide {
            width: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            vertical-align: middle;
        }

        @media screen and (min-width: $medium) {
            width: 33.33333333%;

            &.wide {
                width: 66.66666666%;
            }
        }

        @media screen and (min-width: $large) {
            width: 25%;

            &.wide {
                width: 50%;
            }
        }
    }
}

#about {
    text-align: center;
    padding: 3rem 1rem;
    width: 100%;
    margin: 0 auto;
    max-width: 50ch;

    h2 {
        font-size: 3em;
        line-height: 1;
        text-transform: uppercase;
        font-weight: $heavy-font-weight;

        @media screen and (min-width: $medium) {
            font-size: 4em;
        }

    }
}

#main-footer {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

    p {
        margin: 0;
    }
}