body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-header {
    height: 4rem;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    @media screen and (min-width: $large) {
        display: none;
    }

    #site-logo,
    #site-title,
    #site-description {
        z-index: 99;
        margin: 0;
        display: block;
    }
    
    #site-logo {
        height: 3rem;
        width: 3rem;
    }
    
    #site-info {
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }
    

    #site-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    
    &.home {
        height: 80vh;
        padding-top: 10vh;

        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        
        @media screen and (min-width: $large) {
            display: flex;
            height: calc(85vh - 2rem);
            padding-top: 5vh;
        }
        
        #site-logo {
            width: 75%;
            max-width: 50vh;
            min-height: 50vh;
            height: auto;
        
            @media screen and (min-width: $medium) {
                max-height: 50vh;
            }
        }
                
        #site-info {
            flex-direction: column;
            justify-content: center;
            gap: 5vh;
        
            @media screen and (min-width: $medium) {
                flex-direction: row;
                gap: 0;
            }
        }
        
        #site-text {
            @media screen and (min-width: $medium) {
                align-items: flex-end;
                text-align: right;
                position: relative;
                left: -4rem;
                top: 5vh;
            }
        }
    }
}


#more {
    height: 15vh;
    padding: 1rem;

    display: flex;
    align-items: flex-end;

    img {
        display: block;
        width: 2rem;
        height: auto;
        margin: 0 auto;
        z-index: 99;
    }
}


main {
    flex: 1;

    article {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 1rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: $medium) {
            padding: 3rem 2rem;

            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
        }

        h2 {
            width: 100%;
            margin-bottom: 0;
        }

        section {
            flex: 1;
            min-width: 30ch;
            max-width: 40ch;
        }
    }

    &.fullpage {
        width: 100%;
        padding: 3rem 1rem;
    }
}


#main-footer {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: $large) {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-evenly;
    }
}

