article {
    ul {
        list-style: circle;
        padding-left: 2rem;

        li {
            &:not(:last-of-type) {
                margin-bottom: 0.25rem;
            }

            &::marker {
                content: '✽   ';
            }
        }
    }

    dl {
        padding-left: 2rem;

        &.timeline {
            dt {  
                &::before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    left: calc(-0.5rem - 2px);
                    top: 0.2rem;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 1rem;
                }
            }
        }

        dt {
            margin-left: -1rem;
            padding-left: 0rem;    

            &:not(:first-of-type) {
                padding-top: 0.4rem;
            }
        }

        dd {
            font-size: 0.8em;
            margin-left: -1rem;
            padding-left: 2rem;   
        }
    }
}

