body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-header {
    height: 80vh;
    padding-top: 10vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;

    @media screen and (min-width: $large) {
        display: flex;
        height: calc(85vh - 2rem);
        padding-top: 5vh;
    }
}


#site-logo,
#site-title,
#site-description {
    z-index: 99;
    margin: 0;
    display: block;
}

#site-logo {
    width: 75%;
    max-width: 50vh;
    min-height: 50vh;
    height: auto;

    @media screen and (min-width: $medium) {
        max-height: 50vh;
    }
}

#site-info {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;

    @media screen and (min-width: $medium) {
        flex-direction: row;
        gap: 0;
    }
}


#site-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media screen and (min-width: $medium) {
        align-items: flex-end;
        text-align: right;
        position: relative;
        left: -4rem;
        top: 10vh;
    }
}


#more {
    height: 15vh;
    padding: 1rem;

    display: flex;
    align-items: flex-end;

    img {
        display: block;
        width: 2rem;
        height: auto;
        margin: 0 auto;
        z-index: 99;
    }
}


main {
    flex: 1;

    &.fullpage {
        width: 100%;
        padding: 3rem 1rem;
    }
}

main article {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: $medium) {
        padding: 3rem 2rem;

        grid-template-columns: 2fr 2fr;
        align-items: stretch;
        gap: 3rem;
    }

    @media screen and (min-width: $xlarge) {
        // grid-template-columns: 1fr 2fr 2fr;
        // grid-template-rows: auto 1fr;
        // padding-left:  max(3rem, calc((100vw - $xxlarge - 3rem) / 2));
        // padding-right: max(3rem, calc((100vw - $xxlarge - 3rem) / 2));
    }

    & > section {
        padding: 1em;

        @media screen and (min-width: $xlarge) {
            grid-row: span 2;
        }
    }

    & > header,
    & > footer {
        width: 100%;
        justify-self: center;

        h2 {
            margin-bottom: 0;

            & + * {
                margin-top: 3rem;
            }
        }

        @media screen and (min-width: $medium) {
            grid-column: span 2;
            // max-width: 60ch;
        }

        @media screen and (min-width: $xlarge) {
            // grid-column: span 1;
            // justify-self: start;

            // & > * {
            //     text-align: left;
            // }
        }
    }

    section.gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media screen and (min-width: $medium) {
            grid-column: span 2;

            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem 3rem;

            figure {
                min-width: 40ch;
                max-width: 40ch;
            }
        }

        @media screen and (min-width: $xlarge) {
            // width: calc(100% - 20rem);
        }
    }
}



#main-footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a, p {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    img {
        display: inline-block;
    }

    .social {
        display: flex;
        justify-content: center;
        gap: 0.5rem 2rem;
        flex-wrap: wrap;
    }
}
