$font-family: 'JetBrains Mono', monospace !default;
$font-family-heading: 'Silkscreen', monospace, !default;

$base-font-size: 20px;

$light-font-weight:  300 !default;
$normal-font-weight: 400 !default;
$bold-font-weight:   600 !default;
$heavy-font-weight:  800 !default;


html {
    font-family: $font-family;
    font-weight: $normal-font-weight;
    font-size:   $base-font-size;
    line-height: 1.3;
    text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1         { font-weight: $normal-font-weight; }
h2, h3     { font-weight: $normal-font-weight; }
h4, h5, h6 { font-weight: $normal-font-weight; }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    line-height: 1;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }


:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0.5em;
}

:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 0.75em;
}

p {
    text-align: left;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

a {
    font-weight: $bold-font-weight;
}

em {
    font-style: normal;
}

strong {
    font-weight: $heavy-font-weight;
}

article {
    figure {
        a {
            font-weight: $normal-font-weight;
            font-size: 0.9em;
            text-decoration: none;
        }

        figcaption {
            h3 {
                font-weight: $normal-font-weight;
            }
        }
    }

    dl {
        dt {
            font-weight: bold;
        }
    }
}


#site-info {
    font-size: 1.25em;
    font-family: $font-family-heading;
}


#site-title {
    font-size: 2.5em;
    margin: 0.1em 0 0.3em;

    @media screen and (min-width: $medium) {
        // font-size: 10vh;
    }
}

#site-text {

}

#main-nav {
    font-size: 1.2rem;

    ul {
        font-size: 1.2rem;
    }
}

#menu-title {
    margin: 0;
    font-weight: $normal-font-weight;
}


main {
    section {
        text-align: left;
    }

    h2 {
        font-size: 2em;
        text-align: center;

        @media screen and (min-width: $medium) {
            font-size: 3em;
        }
    }

    h4 {
        text-align: center;
    }
}

#main-footer {
    font-size: 0.85rem;
}

