<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Orolo</title>

    <link rel="icon" href="images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://unpkg.com/htmx.org"></script>
    <script src="js/orolo.js"></script>
</head>

<body>

    <header
        hx-swap="swap:500ms settle:250ms show:main:top"
    >
        <h1><a
            href=""
            hx-get="pages/intro.html"
            hx-target="main"
        >orolo.dev</a></h1>

        <div id="analemma">
            <object id="analemma" data="images/analemma.svg"></object>
        </div>

        <h2>The home of Steve Copley</h2>

        <div class="divider"></div>

        <nav
            hx-trigger="load delay:500ms"
            hx-get="components/nav.html"
        ></nav>

        <div class="divider"></div>

        <div
            id="social"
            hx-trigger="load delay:1000ms"
            hx-get="components/social.html"
        ></div>

        <div class="divider"></div>

    </header>

    <main
        hx-trigger="load delay:2000ms"
        hx-get="pages/intro.html"
        hx-target="main"
        hx-swap="swap:500ms settle:250ms show:top"
    ></main>

    <script>processPage();</script>
</body>

</html>