<header id="main-header" class=" {% if page.layout == "home" %} home {% endif %} ">

    <div id="site-info">
        <object id="site-logo" type="image/svg+xml" data="{{ site.logo | prepend: '/assets/images/' | relative_url }}"></object>

        <div id="site-text">
            <h1 id="site-title">{{ site.title }}</h1>

            {% if page.layout == "home" %}
                <p id="site-description" itemprop="description">{{ site.description }} <em>{{ site.owner }}</em></p>
            {% endif %}
        </div>
    </div>

</header>

