<article id="about">

    <h2>Hello There!</h2>

    {% if about1 %} <section> {{ about1 | markdownify }} </section> {% endif %}
    {% if about2 %} <section> {{ about2 | markdownify }} </section> {% endif %}
    {% if about3 %} <section> {{ about3 | markdownify }} </section> {% endif %}
    {% if about4 %} <section> {{ about4 | markdownify }} </section> {% endif %}
    {% if about5 %} <section> {{ about5 | markdownify }} </section> {% endif %}

</article>


<article id="teaching">

    <h2>I Teach Kids</h2>

    {% if teach1 %} <section> {{ teach1 | markdownify }} </section> {% endif %}
    {% if teach2 %} <section> {{ teach2 | markdownify }} </section> {% endif %}
    {% if teach3 %} <section> {{ teach3 | markdownify }} </section> {% endif %}
    {% if teach4 %} <section> {{ teach4 | markdownify }} </section> {% endif %}
    {% if teach5 %} <section> {{ teach5 | markdownify }} </section> {% endif %}

</article>


<article id="coding">

    <h2>I Write Code</h2>

    {% if code1 %} <section> {{ code1 | markdownify }} </section> {% endif %}
    {% if code2 %} <section> {{ code2 | markdownify }} </section> {% endif %}
    {% if code3 %} <section> {{ code3 | markdownify }} </section> {% endif %}
    {% if code4 %} <section> {{ code4 | markdownify }} </section> {% endif %}
    {% if code5 %} <section> {{ code5 | markdownify }} </section> {% endif %}

</article>


<article id="mtb">

    <h2>I Ride Bikes</h2>

    {% if mtb1 %} <section> {{ mtb1 | markdownify }} </section> {% endif %}
    {% if mtb2 %} <section> {{ mtb2 | markdownify }} </section> {% endif %}
    {% if mtb3 %} <section> {{ mtb3 | markdownify }} </section> {% endif %}
    {% if mtb4 %} <section> {{ mtb4 | markdownify }} </section> {% endif %}
    {% if mtb5 %} <section> {{ mtb5 | markdownify }} </section> {% endif %}

</article>

