{% if aboutHead %}
<article id="about">
    <header>
        {{ aboutHead | markdownify }}
    </header>
{% endif %}

    {% if about1 %} <section> {{ about1 | markdownify }} </section> {% endif %}
    {% if about2 %} <section> {{ about2 | markdownify }} </section> {% endif %}
    {% if about3 %} <section> {{ about3 | markdownify }} </section> {% endif %}
    {% if about4 %} <section> {{ about4 | markdownify }} </section> {% endif %}
    {% if about5 %} <section> {{ about5 | markdownify }} </section> {% endif %}

    {% if aboutFoot %}
    <footer>
        {{ aboutFoot | markdownify }}
    </footer>
    {% endif %}

{% if aboutHead %}
</article>
{% endif %}

{% comment %} --------------------------------------------------------------- {% endcomment %}

{% if workHead %}
<article id="work">
    <header>
        {{ workHead | markdownify }}
    </header>
{% endif %}

    {% if work1 %} <section> {{ work1 | markdownify }} </section> {% endif %}
    {% if work2 %} <section> {{ work2 | markdownify }} </section> {% endif %}
    {% if work3 %} <section> {{ work3 | markdownify }} </section> {% endif %}
    {% if work4 %} <section> {{ work4 | markdownify }} </section> {% endif %}
    {% if work5 %} <section> {{ work5 | markdownify }} </section> {% endif %}

    {% if workFoot %}
    <footer>
        {{ workFoot | markdownify }}
    </footer>
    {% endif %}

{% if workHead %}
</article>
{% endif %}

{% comment %} --------------------------------------------------------------- {% endcomment %}

{% if galleryCodeHead %}
<article id="gallery-code">
    <header>
        {{ galleryCodeHead | markdownify }}
    </header>
{% endif %}

    <section class="gallery">
    {% for item in site.data.gallery-code %}
        <figure>
            <a href="{{ item.link }}">
                <img src="{{ 'assets/gallery/' | append: item.image | relative_url }}" alt="Screenshot of {{ item.name }}">
                <figcaption>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                </figcaption>
            </a>
        </figure>
    {% endfor %}
    </section>

    {% if galleryCodeFoot %}
    <footer>
        {{ galleryCodeFoot | markdownify }}
    </footer>
    {% endif %}

{% if galleryCodeHead %}
</article>
{% endif %}

{% comment %} --------------------------------------------------------------- {% endcomment %}

{% if galleryWebHead %}
<article id="gallery-web">
    <header>
        {{ galleryWebHead | markdownify }}
    </header>
{% endif %}

    <section class="gallery">
    {% for item in site.data.gallery-web %}
        <figure>
            <a href="{{ item.link }}">
                <img src="{{ 'assets/gallery/' | append: item.image | relative_url }}" alt="Screenshot of {{ item.name }}">
                <figcaption>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                </figcaption>
            </a>
        </figure>
    {% endfor %}
    </section>

    {% if galleryWebFoot %}
    <footer>
        {{ galleryWebFoot | markdownify }}
    </footer>
    {% endif %}

{% if galleryWebHead %}
</article>
{% endif %}

{% comment %} --------------------------------------------------------------- {% endcomment %}

{% if notWorkHead %}
<article id="notwork">
    <header>
        {{ notWorkHead | markdownify }}
    </header>
{% endif %}

    {% if notWork1 %} <section> {{ notWork1 | markdownify }} </section> {% endif %}
    {% if notWork2 %} <section> {{ notWork2 | markdownify }} </section> {% endif %}
    {% if notWork3 %} <section> {{ notWork3 | markdownify }} </section> {% endif %}
    {% if notWork4 %} <section> {{ notWork4 | markdownify }} </section> {% endif %}
    {% if notWork5 %} <section> {{ notWork5 | markdownify }} </section> {% endif %}

    {% if notWorkFoot %}
    <footer>
        {{ notWorkFoot | markdownify }}
    </footer>
    {% endif %}

{% if notWorkHead %}
</article>
{% endif %}

{% comment %} --------------------------------------------------------------- {% endcomment %}

