<nav id="main-nav" {% if page.layout == "home" %} class="nav-home" {% endif %} >

    <a id="home-link" href="/">
        <img id="menu-logo" src="{{ site.logo | prepend: '/assets/images/' | relative_url }}" alt="site logo"> 
        <h1 id="menu-title">{{ site.title }}</h1> 
    </a>

    <div id="main-menu">
        <label for="menu-toggle"><img src="{{ '/assets/icons/icon-menu.svg' | relative_url }}" alt="menu icon"></label>
        <input id="menu-toggle" type="checkbox">

        <ul>
            <label for="menu-toggle"><img src="{{ '/assets/icons/icon-close.svg' | relative_url }}" alt="menu icon"></label>

            {% for item in site.data.nav %}

                <li>

                    <a href="{{ item.link }}{% if item.id %}#{{ item.id }}{% endif %}"
                       class="
                            {% if item.link == '/' %} internal {% endif %}
                            {% if item.link == page.url %} active {% endif %}
                       " >

                        {{ item.name }}
                        
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
</nav>