<nav id="main-nav" {% if page.layout == "home" %} class="nav-home" {% endif %} >

    <a id="home-link" href="/">
        <img id="menu-logo" src="{{ site.logo | prepend: '/assets/images/' | relative_url }}" alt="site logo"> 
        <h1 id="menu-title">{{ site.title }}</h1> 
    </a>

    <label for="menu-toggle"><img src="{{ '/assets/images/icon-menu.svg' | relative_url }}" alt="menu icon"></label>
    <input id="menu-toggle" type="checkbox">

    <ul>
        <label for="menu-toggle"><img src="{{ '/assets/images/icon-close.svg' | relative_url }}" alt="menu icon"></label>

        <li class="home"><a href="/#main-header">Home</a></li> 
        
        <li><a href="/#about">Hello</a></li>
        <li><a href="/#work">Work</a></li>
        <li><a href="/#notwork">Not Work</a></li>

        <li><a href="/blog.html" {% if page.url == '/blog.html' %} class="active" {% endif %} >Thoughts</a></li>
    </ul>

</nav>