<nav id="main-nav" {% if page.layout == "home" %} class="nav-home" {% endif %} >

    <a id="home-link" href="/">
        <img id="menu-logo" src="{{ site.logo | prepend: '/assets/images/' | relative_url }}" alt="site logo"> 
        <h1 id="menu-title">{{ site.title }}</h1> 
    </a>

    <label for="menu-toggle"><img src="{{ '/assets/images/icon-menu.svg' | relative_url }}" alt="menu icon"></label>
    <input id="menu-toggle" type="checkbox">

    <ul>
        <label for="menu-toggle"><img src="{{ '/assets/images/icon-close.svg' | relative_url }}" alt="menu icon"></label>

        <li class="home"><a href="/#top">Home</a></li> 
        
        <li><a href="/#teaching">Teaching</a></li>
        <li><a href="/#coding">Coding</a></li>
        <li><a href="/about.html" {% if page.url == '/about.html' %} class="active" {% endif %} >Who?</a></li>
        <li><a href="/bikes.html" {% if page.url == '/bikes.html' %} class="active" {% endif %} >Bikes</a></li>
        <li><a href="/books.html" {% if page.url == '/books.html' %} class="active" {% endif %} >Books</a></li>
    </ul>

</nav>