<ul
    hx-target="main"
>
    <li><a id="link-intro" class="active" href="" hx-get="pages/intro.html"  >[01 Hello]</a></li>
    <li><a id="link-about"                href="" hx-get="pages/who.html"    >[02 Who?]</a></li>
    <li><a id="link-work"                 href="" hx-get="pages/work.html"   >[03 Work]</a></li>
    <li><a id="link-show"                 href="" hx-get="pages/show.html"   >[04 Showcase]</a></li>
    <li><a id="link-play"                 href="" hx-get="pages/play.html"   >[05 Play]</a></li>
    <li><a id="link-contact"              href="" hx-get="pages/contact.html">[06 Contact]</a></li>
</ul>
