<ul
    hx-target="main"
>
    <li><a id="link-intro" class="active" href="" hx-get="pages/intro.html"   hx-push-url="#intro"  >[01 Hello]</a></li>
    <li><a id="link-about"                href="" hx-get="pages/who.html"     hx-push-url="#who"    >[02 Who?]</a></li>
    <li><a id="link-work"                 href="" hx-get="pages/work.html"    hx-push-url="#work"   >[03 Work]</a></li>
    <li><a id="link-show"                 href="" hx-get="pages/show.html"    hx-push-url="#show"   >[04 Showcase]</a></li>
    <li><a id="link-play"                 href="" hx-get="pages/play.html"    hx-push-url="#play"   >[05 Play]</a></li>
    <li><a id="link-contact"              href="" hx-get="pages/contact.html" hx-push-url="#contact">[06 Contact]</a></li>
</ul>
